<section>
    <table>
        <thead>
            <tr>
                <th>Articulo</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Adicionar</th>
            </tr>
        </thead>
            <hr>
            <tbody>
                <tr>
                    <td>Crema</td>
                    <td>12000</td>
                    <td><input type="number" value="0" min="0"></td>
                    <td><input type="checkbox"></td>                    </tr>
                <tr>
                    <td>Shampoo</td>
                    <td>18000</td>
                    <td><input type="number" value="0" min="0"></td>
                    <td><input type="checkbox"></td>                    </tr>
                <tr>
                    <td>Tratamiento</td>
                    <td>23000</td>
                    <td><input type="number" value="0" min="0"></td>
                    <td><input type="checkbox"></td>                    </tr>
                <tr>
                    <td>Crema</td>
                    <td>12000</td>
                    <td><input type="number" value="0" min="0"></td>
                    <td><input type="checkbox"></td>                    </tr>
                <tr>
                    <td>Shampoo</td>
                    <td>18000</td>
                    <td><input type="number" value="0" min="0"></td>
                    <td><input type="checkbox"></td>                    </tr>
                <tr>
                    <td>Tratamiento</td>
                    <td>23000</td>
                    <td><input type="number" value="0" min="0"></td>
                    <td><input type="checkbox"></td>                    </tr>
                <tr>
                    <td>Crema</td>
                    <td>12000</td>
                    <td><input type="number" value="0" min="0"></td>
                    <td><input type="checkbox"></td>                    </tr>
                <tr>
                    <td>Shampoo</td>
                    <td>18000</td>
                    <td><input type="number" value="0" min="0"></td>
                    <td><input type="checkbox"></td>                    </tr>
                <tr>
                    <td>Tratamiento</td>
                    <td>23000</td>
                    <td><input type="number" value="0" min="0"></td>
                    <td><input type="checkbox"></td>                    </tr>
            </tbody>
        </table>
        <a href="index.html"><button class="enviarpedido" target="_blank">ENVIAR PEDIDO</button></a>

</section>