.container-formulario{
    width: 50%;
    position:relative;
    margin-left: 750px;
    margin-top: -500px;
    height: 100%;

}
input, button{
    border-radius: 15px;
    border: none;


}

input, button:hover{
    background-color: rgb(242, 237, 230);
}
button{
    margin-top: 10px;
}