<section class="nosotrossomos">
    <div class="laboratorio">
        <img src="assets/imagenes/laboratorio.png" alt="Laboratorio" class="imaglabora">
    </div> 
    <div class="textonosotros">
        <h2>Nosotros</h2>
        <p class="somos">Somos una marca 100% Barranquillera, nacida en 1989 de la pasión por la cosmética y naturaleza. Laboratorios Ross D’Elen es una de las empresas más importantes de la Costa Caribe dedicada al desarrollo, fabricación y distribución de productos cosméticos y de aseo personal, teniendo como fortaleza la innovación.</p>
    </div>
</section>