<div class="contactado">
    <div>
        <h2>Contacto</h2>
        <p>Contáctanos y responderemos tus solicitudes.</p>
        <h3>Llámanos</h3>
        <p>8:00 a.m. -12:00 p.m.
            2:00 p.m. – 6:00 p.m.
            Lunes a sábados</p>
            <p>Cel. +57 (5) 314 591 6988
                Tel. +57 (5) 370 89 89 Ext 115</p>
    </div>
    <div>
        <h2>Visítanos</h2>
        <p>Carrera 42 # 52 – 19
            Recreo, Barranquilla, Colombia</p>
            <p>Carrera 42 # 52 – 19
                Recreo, Barranquilla, Colombia</p>

    </div>
    <div>
        <h3>Escríbenos</h3>
        <p>Servicio al cliente:
         
            
            </p>
    </div>

</div>