
<app-slider></app-slider>
<app-articulo>
    <h2>Pasión por la cosmética y la naturaleza</h2>
    <p><strong>¿Quiénes somos? </strong>Somos una marca 100% Barranquillera, nacida en 1989 de la    pasión por la cosmética y naturaleza.

        Laboratorios Ross D’Elen es una de las empresas más importantes de la Costa Caribe dedicada al desarrollo, fabricación y distribución de productos cosméticos y de aseo personal, teniendo como fortaleza la innovación.</p>
        <img src="assets/imagenes/senora.png" alt="señora">
</app-articulo>
<app-video></app-video>
<app-tarjeta-producto></app-tarjeta-producto>
<app-articulo>
    <h2>¿Quieres ser distribuidor de Ross D’Elen?</h2>
    <p>Únete a nosotros, conviértete en distribuidor de Ross D’Elen es muy ¡fácil! No necesitas tener una tienda física para ser parte del negocio, solo necesitas tener actitud y amar nuestros productos.</p>
<img src="assets/imagenes/green.png" alt="" class="green" width="800px">
</app-articulo>

