<div class="slider-box" >
    <ul>
        <li>
            <img src="assets/imagenes/cap1.png" alt="productos de bebe" class="slider">
        </li>
        <li>
            <img src="assets/imagenes/cap2.png" alt="gel para dolores"  class="slider">
        </li>
        <li>
            <img src="assets/imagenes/cap3.png" alt="kit de niñas"  class="slider">
        </li>
        <li>
            <img src="assets/imagenes/cap4.png" alt="crema y splash"  class="slider">
        </li>
        <li>
            <img src="assets/imagenes/cap5.png" alt="kit niños"  class="slider">
        </li>
        <li>
            <img src="assets/imagenes/cap6.png" alt="productos dermatologicos" class="slider">
        </li>
        <li>
            <img src="assets/imagenes/cap7.png" alt="gel quemagrasa"  class="slider">
        </li>
    </ul>
</div>