<header>
    <nav class="navbar navbar-expand-md navbar-dark ">
        <a href="index.html" class="navbar-brand"><img src="assets/imagenes/logo2.png" width="30px" alt="logo" class="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active "> <a [routerLink]="['/nosotros']" routerLinkActive ="active">Nosotros</a></li>
                <li class="nav-item"><a [routerLink]="['/productos']" routerLinkActive ="active">Productos</a></li>
                <li class="nav-item"><a [routerLink]="['/marcas-propias']" routerLinkActive ="active">Marcas propias</a></li>
                <li class="nav-item"><a [routerLink]="['/distribuidores']" routerLinkActive ="active">Distribuidores</a></li>
                <li class="nav-item"><a [routerLink]="['/contacto']" routerLinkActive ="active">Contacto</a></li>
                <li class="nav-item"><a href="whatsapp://send?phone=573155473357" class="nav-link"><img src="assets/imagenes/whatsapp.png" alt="whatsapp" width="30px"></a></li>
            </ul>
        </div>
    </nav>
</header>


