<section class="contenedor3">
    <h2 class="conocer">Conoce nuestros productos</h2>
    <div class="contproductos" id="listaProductos">
        <div class="producto" *ngFor="let info of data">
            <img src="{{info.imagen}}" alt="slpash" class="fragancias">
            <span class="uno">{{info.titulo}}</span>
        </div>
        <!-- <div class="producto"> 
            <img src="assets/imagenes/quemagrasa.png" alt="quemagrasa" class="corporal" >
            <span class="dos">Corporal</span>
        </div>
        <div class="producto">
            <img src="assets/imagenes/argan.png" alt="argan" class="capilar">
            <span class="tres">Capilar</span>
        </div>
        <div class="producto">
            <img src="assets/imagenes/dermaW.png" alt="crema" class="dermo">
            <span class="cuatro">Dermocosmético</span>
        </div> -->
    </div>

    <a href="productos.html"><button class="tienda" onkeypress="presionar()">VER TIENDA ONLINE</button></a>
</section>