.conocer{
    position: absolute;
    margin-top: -400px;
    background-color: blueviolet;
}
.contenedor3{
width: 100%;
display: flex;
fl
justify-content: center;
align-items: center;
}
.contproductos{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}
.producto{
    width: 25%;
    box-sizing: border-box;
}
.fragancias{
    width: 300px;
    height: 300px;
}
.tienda{
    background-color: brown;
margin-top: 20px;
}