<section class="fondoross">
    <div class="ross">
        <div class="nuevaimagen">
            <img src="assets/imagenes/nuevaimagen.png" alt="Nueva imagen" class="fragancias">
            <h3>1989</h3>
            <h2>Primera sede</h2>
            <p>Nace la primera sede conformada por los ingenieros, quienes desde que eran estudiantes universitarios materializaron la idea de un laboratorio para fabricar productos de aseo personal.</p>
        </div>
        <div class="portafolio">
            <img src="assets/imagenes/portafolio.png" alt="Portafolio" class="fragancias">
            <h3>1990</h3>
            <h2>Talco Love</h2>
            <p>El primer producto fue un talco corporal con la asesoría del ingeniero José Iván Zapata. Hasta el día de hoy continuamos con la fabricación de este producto.</p>
        </div>
        <div class="gelgreen">
            <img src="assets/imagenes/gelgreen.png" alt="Gel" class="fragancias">
            <h3>1991</h3>
            <h2>Planta actual</h2>
            <p>En un esfuerzo para producir los productos con una mejor calidad, la empresa construye su segunda planta de fabricación.</p>
        </div>
    </div>
</section>